/* create form style  */
.create-section{
    max-width: 800px;
    display: flex;
    margin: 0px auto;
    align-items: center;
}
.create-blog-form{
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
}
.create-blog-form h2{
    text-align: left;
    color: #f1356d;
    font-family: 'Poppins', sans-serif;
}
.create-blog-form .create-label{
    text-align: left;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.create-blog-form input{
    width: 400px;
    padding: 5px 0px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.create-blog-form button{
    background-color: #f1356d;
    border-radius: 8px;
    border: none;
    width:150px;
    height: 40px;
    color: #FFFFFF;
}