.table-container{
    max-width: 800px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    margin-top: 30px;
}
table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
    width: 800px;
  }
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  th {
    background: red;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }